body {
  background-color: #222;
  margin: 0;
}
.header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  &__profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('../img/vampires_bats.jpg');
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &__logo {
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
  }
  &__search {
    &__input {
      width: 241px;
      height: 43px;
      padding: 12px 12px 12px 40px;
      background-image: url('../img/outline_search.png');
      background-repeat: no-repeat;
      background-position: 5%;
      border-radius: 50px;
      background-color: #555;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      border: 1px solid #555;
      outline: none;
    }
  }
}
.anime {
  color: red;
}
.container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  min-height: 300px;
}
.book {
  width: 250px;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 5px solid #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &__image {
    max-width: 180px;
    max-height: 280px;
  }
  &__author {
    margin: 5px;
  }
  &__title {
    margin: 5px;
  }
}
.popup-blockout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookpopup {
  position: relative;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 5px solid #666;
  border-radius: 5px;
  background-color: #444;
  span {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    color: white;
    font-size: 60px;
    font-weight: 700;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  &__active {
    background-color: green;
  }
}

.profile__boxes {
  color: black;
  ul {
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    li {
      background-color: #fff;
      padding: 30px;
      border: 5px solid #444;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;
    }
  }
}
